<!-- begin c-hero -->
<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-6 col-t-12 last-item">
        <div class="hero__content">
          <h1 class="hero__title">{{ site.data.settings.author.say-hello2 }}</h1>
          <p class="hero__subtitle">{{ site.data.settings.author.bio2-1 }}</p>
          <p class="hero__subtitle">{{ site.data.settings.author.bio2-2 }}</p>
          <p class="hero__subtitle">{{ site.data.settings.author.bio2-3 }}</p>
          <a href="{{site.baseurl}}/{{ site.data.settings.author.bio2-4-url }}">{{ site.data.settings.author.bio2-4 }}</a>
<!-- {{ site.data.settings.author.bio5 }}{{ site.data.settings.author.bio5-url }}(要修正change-inaba)</p-->
	
          <ul><li>{{ site.data.settings.author.bio2-5 }}</li></ul>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<!-- end hero -->
